.app-button {
    padding: 20px;

    font-size: 15px;

    color: #000000;
    background-color: var(--white-100);

    border: none;
    border-radius: 12px;


    transition: opacity ease 0.15s;

    cursor: pointer;
}

.app-button:hover {
    opacity: 0.85;
}