.vacancy-search {
}

.vacancy-search__content {
    max-width: 600px;
    height: 200px;

    margin: 0 auto;

    display: flex;
    align-items: center;
}

.vacancy-search__content .input-group {
    flex-grow: 1;
}

.vacancy-search__content .input-group .input-group__suffix img {
    opacity: 0.75;

    transition: opacity 0.15s ease;
}

.vacancy-search__content .input-group .input-group__suffix:hover img {
    opacity: 1;
}

